# Node modules and logs
node_modules
npm-debug.log
yarn-error.log

# Docker metadata
Dockerfile
.dockerignore

# Git internals
.git

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist
build
coverage
